* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 320px;
  position: relative;
}

header {
  width: 100%;
}

.blue {
  height: 350px;
  background-color: rgb(38, 126, 177);
  transform: skewY(-0.5rad) translateY(-35%);
}

.name {
  max-width: 100%;
  position: absolute;
  top: 265px;
  color: rgb(255, 255, 255);
  z-index: 999;
  font-size: 40px;
  font-weight: 200;
  padding: 0px 50px;
}

.imageContainerOne {
  display: flex;
  width: 100%;
  height: 350px;
  justify-content: center;
  background-image: url(./Images&Icons/pexels-jonathanborba-13450811\ \(3\).jpg);
  background-position: center;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
}

.aboutMe {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 30px 10px;
  align-items: center;
}

.aboutMeContent {
  color: rgb(81, 82, 85);
  padding: 0 10px 10px 10px;
}

.aboutMeLinks {
  display: flex;
  gap: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myWorkProjectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px;
}

.myWorkProjects {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectInfo {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.nameAndLinks {
  display: flex;
  align-items: center;
}

.githubRepoLink {
  margin-left: auto;
  margin-right: 15px;
}

.nameAndLinks {
  padding: 10px 10px 10px 20px;
}

.description {
  padding: 0 20px 30px 15px;
  color: rgb(81, 82, 85);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(38, 126, 177);
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 0 0;
}

.request {
  padding: 0 15px;
  font-size: 20px;
}

.address,
.contact {
  padding: 10px 15px;
  font-size: 15px;
}

.email {
  margin-top: 5px;
  font-size: 12px;
}

.linksContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.footerLinks {
  font-size: 30px;
}

.imageContainerTwo {
  background-image: url(./Images&Icons/pexels-jonathanborba-17556614\ \(3\).jpg);
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
